In [7]:
import numpy as np
import pandas as pd
# from RAS_extract_downstream_timeseries_from_adcirc import *
import xarray as xr

ras_model = 'Amite'
df = pd.read_csv('ras_bc_lines_to_points.csv')
# adding column with constant value
df['Model'] = ras_model
df

,FID,Count,Length,Name,SA/2D Area,Connection,Lat,Lon,x/y,Model
0,3,3,34970.59906,BC Line 1,AmiteMaurepas,External,30.058146,-90.414833,"-90.414833,30.058146",Amite
1,3,3,34970.59906,BC Line 1,AmiteMaurepas,External,30.060287,-90.412851,"-90.412851,30.060287",Amite
2,3,3,34970.59906,BC Line 1,AmiteMaurepas,External,30.062428,-90.410869,"-90.410869,30.062428",Amite
3,3,3,34970.59906,BC Line 1,AmiteMaurepas,External,30.064569,-90.408887,"-90.408887,30.064569",Amite
4,3,3,34970.59906,BC Line 1,AmiteMaurepas,External,30.066710,-90.406905,"-90.406905,30.06671",Amite
...,...,...,...,...,...,...,...,...,...,...
183,10,3,33703.97090,BC Line 8,AmiteMaurepas,External,30.365231,-90.092845,"-90.092845,30.365231",Amite
184,10,3,33703.97090,BC Line 8,AmiteMaurepas,External,30.367935,-90.092303,"-90.092303,30.367935",Amite
185,10,3,33703.97090,BC Line 8,AmiteMaurepas,External,30.370639,-90.091760,"-90.09176,30.370639",Amite
186,10,3,33703.97090,BC Line 8,AmiteMaurepas,External,30.373343,-90.091217,"-90.091217,30.373343",Amite
187,10,3,33703.97090,BC Line 8,AmiteMaurepas,External,30.376047,-90.090673,"-90.090673,30.376047",Amite

In [8]:
segments_List = df['Name'].unique()
segments_List

array(['BC Line 1', 'BC Line 2', 'BC Line 3', 'BC Line 4', 'BC Line 5',
       'BC Line 6', 'BC Line 7', 'BC Line 8'], dtype=object)

In [12]:
df2 = df.groupby(['SA/2D Area', 'Name']).size()
# print(df2)
df2

SA/2D Area     Name
AmiteMaurepas  BC Line 1    35
               BC Line 2    24
               BC Line 3    31
               BC Line 4    24
               BC Line 5    17
               BC Line 6    10
               BC Line 7    13
               BC Line 8    34
dtype: int64

In [14]:
area_list = df['SA/2D Area'].unique()
area_list

array(['AmiteMaurepas'], dtype=object)

In [15]:
for area in area_list:
    area_xy_df = df.loc[df['SA/2D Area'] == area, ('Name','Lat','Lon')]
    for segment in segments_List:
        # segment_xy_df = df.loc[df['Name'] == segment, 'x/y']
        segment_xy_df = df.loc[df['Name'] == segment, ('Lat','Lon')]
        segment_xy_df.reset_index(drop=True)
        segment_xy_df.index.name = 'id'
        segment_xy_df = segment_xy_df.rename(columns={"Lat": 'y', "Lon": "x"})
        segment_xy_df.to_csv(f'/twi/work/projects/p00667_louisiana_rtf/ras/lffs/louisiana_real_time_forecasting/src/system/scripts/dev/temp/pointFiles/{ras_model}_{area}_{segment}.txt', sep=',', header=True, index=True)